<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite" >
    <test name="Test" >
        <groups>
                <run>
                    <include name="HeaderTests"/>
                    <include name="ButtonTests"/>
                </run>
        </groups>
        <classes>
            <class name="Activities.Activity5"/>
        </classes>
    </test>
</suite>